body
{
    background-color: peachpuff;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span
{
    font-weight: bolder;
    font-size: larger;
    font-style: oblique;
}


.para2
{
    font-size: large;
    font-weight: bold;
}

.para5
{
    font-size: large;
    font-weight: bold;
}